.p-navMain
  position: fixed
  z-index: 200
  top: 0
  left: 0
  width: 100vw
  height: 50px

  &__bkg
    position: absolute
    top: 0
    left: 0
    background-color: $pink
    width: inherit
    height: inherit
    transform: scaleY(0)
    transform-origin: top
    transition: transform .2s ease-out
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2)

    &.active
      transform: scaleY(1)

  &__content
    position: relative
    height: inherit

    &__brand
      font-family: var(--font-secondary)
      color: var(--color-text)
      text-decoration: none
      +font-size(28)
      position: relative
      z-index: 100

      &::before,
      &::after
        position: absolute
        content: 'henri.love'
        opacity: .3
        transition: right .2s ease-out, left .2s ease-out

      &::before
        left: 0
        color: $red
        z-index: -1

      &:hover::before,
      &.active::before
        left: -2px
        top: -2px

      &::after
        right: 0
        color: blue
        z-index: -1

      &:hover::after,
      &.active::after
        right: -2px
        bottom: -2px

    &__item
      $parent: &
      position: relative
      +font-size(18)
      text-decoration: none
      margin: 0 10px
      color: var(--color-text)

      &::after
        position: absolute
        content: ''
        right: 0
        bottom: 2px
        height: 1px
        width: 0
        background-color: var(--color-text)
        transition: width .2s ease-out 

      &:hover
        &::after
          left: 0
          width: 100%

      &.active
        &::after
          left: 0
          width: 100%

    &__hamburger
      $parent: &
      position: relative
      z-index: 100
      height: 22px
      width: 25.5px

      &__bar
        position: absolute
        left: 0
        top: 50%
        width: inherit
        height: 4px
        background-color: var(--color-text)
        border-radius: 5px
        transform: translateY(-50%)
        transition: opacity .2s ease-out, transform .2s ease-out

        &--top,
        &--bottom
          position: absolute
          content: ''
          width: inherit
          height: 4px
          background-color: var(--color-text)
          border-radius: 5px
          transform-origin: right
          transition: transform .2s ease-out

        &--top
          top: 0

        &--bottom
          bottom: 0

      &.active
        #{$parent}__bar
          transform: translateX(-100%)
          opacity: 0

          &--top
            transform: rotate(-45deg)

          &--bottom
            transform: rotate(45deg)

  &__mobile
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background-color: $pink
    transform: translateX(100%)
    transition: transform .2s ease-out

    &.active
      transform: translateX(0)

    &__item
      +font-size(36)
      +line-height(36)
      text-decoration: none
      color: var(--color-text)


