.p-sectionProjectHeader
  position: fixed
  top: 0
  left: 0
  z-index: -1
  height: 50vh
  width: 100vw
  background-color: $pink

  &__image,
  &__pinkBkg
    position: fixed
    top: 0
    left: 0
    height: inherit
    width: inherit

  &__image
    background-size: cover
    background-position: center
    filter: grayscale(100)

  &__pinkBkg
    background-color: $pink
    opacity: .95

  &__back
    position: absolute
    left: 20px
    top: 20px
    color: var(--color-text)
    text-decoration: none

    &::after
      background-color: var(--color-text)
      border-radius: 5px
      bottom: 5px
      content: ''
      height: 1px
      left: 0
      position: absolute
      width: 100%

  &__title
    +font-size(72)
    +line-height(72)
    font-family: var(--font-secondary)

    +bp-small
      +font-size(36)
      +line-height(36)

  &__subtitle
    +font-size(36)
    +line-height(36)

    +bp-small
      +font-size(24)
      +line-height(24)
