.p-sectionProjectPictures
  background-color: $white
  margin-bottom: 50vh
  padding: 20px 0
  position: relative
  z-index: 10

  &__item
    +margin-top(100)
    +margin-bottom(100)

    &:first-child
      +margin-top(10)

    &:last-child
      +margin-bottom(10)

    &__image
      display: block
      margin: 0 auto
      width: 100%
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2)

    &__text
      text-align: center
      +font-size(18)
      +line-height(18)
