.p-sectionEnd
    height: 100vh
    position: relative

    &__img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(calc(-50% - 8px), -50%) scale(1)
        z-index: 100
        max-height: 400px
        opacity: 0

        +bp-small
          max-width: 100%

        &.active
          filter: grayscale(0) !important
          animation: 1s pumping infinite

    &__social
        position: absolute
        bottom: 10px
        left: 50%
        transform: translateX(-50%)
        +font-size(30)

        +bp-medium
          width: 100%
          text-align: center

        +bp-small
          width: 100%
          text-align: center
          +font-size(18)

        &__link
            color: $black
            text-decoration: none
            position: relative

            &::after
                background-color: var(--color-text)
                border-radius: 5px
                bottom: 6px
                content: ''
                height: 2px
                left: 0
                position: absolute
                width: 100%

